* {
    margin: 0;
    padding: 0;
}


.tile {
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
   
}
.stone {
     background: url(./img/stone.png) no-repeat center center/cover;

}
.ground {
    background: url(./img/ground.jpg);
    background-size: cover;
}
.sky {
    background: #329DF5;
     background-size: cover;
}
.leaf {
    background: url(./img/leaf.png);
     background-size: cover;
}
.trunk {
    background: url(./img/three.png);
     background-size: cover;
}
.axe {
    background: url(./img/axe.png);
     background-size: cover;
}
.pickaxe {
    background: url(./img/pickaxe.png);
     background-size: cover;
}
.shovel {
    background: url(./img/shovel.png);
     background-size: cover;
}


body{
    width: 100vw;
    height: 100vh;
}
#mainGame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#gameWorld {
    width: 600px;
    height:100vh ;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    /* background: #329DF5; */
}
#toolBar {
    width: 150px;
    height: 100vh;
    background-color: darkslategrey;
}