* {
    margin: 0;
    padding: 0;
}


.tile {
    width: 30px;
   
   
   
}
.stone {
     background: url(./img/stone.png) ;
     background-size: cover;

}
.ground {
    background: url(./img/ground.jpg);
    background-size: cover;
}
.sky {
    background: #329DF5;
     background-size: cover;
}
.leaf {
    background: url(./img/leaf.png);
     background-size: cover;
}
.trunk {
    background: url(./img/three.png);
     background-size: cover;
}
.axe {
    width: 50px;
    height: 50px;
    background: url(./img/axe.png);
     background-size: cover;
}
.pickaxe {
     width: 50px;
    height: 50px;
    background: url(./img/pickaxe.png);
     background-size: cover;
}
.shovel {
     width: 50px;
    height: 50px;
    background: url(./img/shovel.png);
     background-size: cover;
}
.tool-item:hover {
    border: 1px solid white;
}


body{
    width: 100vw;
    height: 100vh;
}
#mainGame {
    width: 100vw;
    height: 100vh;
    /* background: url(https://res.cloudinary.com/lmn/image/upload/c_limit,h_360,w_640/e_sharpen:100/f_auto,fl_lossy,q_auto/v1/gameskinnyc/u/n/t/untitled-a5150.jpg) no-repeat center center/cover; */
    display: flex;
    justify-content: space-between;
}
#gameWorld {

    width: 600px;
    height:100vh ;
    margin-left: 50px;
    display:flex;
    flex-wrap: wrap;
    
}
#toolBar {
    width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
}
#gameTools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#toolWrapper {
    width: 50px;
    height: 70px;
    margin-top: 10px;
}
#gameStorage {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    width: 150px;
    height: 150px;
}
.storage-item {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
#reset {
    border: 1px solid white;
    width: 100px;
}